[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xarray = "*"
rasterio = "*"
matplotlib = "*"
pyproj = "*"
ipykernel = "*"
netcdf4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
